{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": 11
        },
        "modules": false
      }
    ],
    [
      "@babel/preset-stage-1",
      {
        "decoratorsLegacy": true
      }
    ],
    "@babel/preset-react"
  ],
  "env": {
    "test": {
      "presets": ["@babel/preset-env"]
    }
  }
}
